<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - george.softumus.com</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
@*        @Styles.Render("~/Content/bootstrap")
        @Styles.Render("~/Content/css")*@
        @*@Scripts.Render("~/bundles/modernizr")*@
    </head>
    <body>
        
        <ul>
            <li><a href="/all">All pages</a></li>
        </ul>
        <hr/>

        @*<div id="popup-message"></div>*@
        @RenderBody()

        @*        @Html.Partial("_TopNavigation")
        
        <div class="container">
            
            @Html.Partial("_Breadcrumb")

            @if (Html.ViewExists("_LeftNavigation"))
            {
                <div class="row">
                    <div class="col-md-2">
                        <ul class="nav nav-pills nav-stacked">@Html.PartialIfExists("_LeftNavigation")</ul>
                    </div>
                    <div class="col-md-10">
                        <h2>@ViewBag.Title</h2>
                        @RenderBody()
                    </div>
                </div>
            }
            else
            {
                <h2>@ViewBag.Title</h2>
                @RenderBody()
            }
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/js")
        @RenderSection("scripts", required: false)*@
    </body>
</html>
